

.content {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 4.25rem;
}

.backcontent {
  color: rgb(46, 46, 48);
  font-size: 5.5rem;
  font-weight: bold;
}
.heading1 h3 {
  /* transform: translateY(-80px); */
  font-size: 2.5rem;
  /* margin-top:30px; */
  text-align: center;
  color: aqua;
}

.description {
  padding: 1.25rem 1.75rem;
  display: flex;
  justify-content: space-evenly;
}
.description * {
  text-align: left;
}
.description_details {
  width: 500px;
  padding-right: 40px;
}

.description_details h3,
.description_details h3 span {
  font-size: 1.75rem;
}
.description_details h3 span {
  color: aqua;
}
.description_details p {
  font-size: 18px;
}

 


.personaldetails {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.personaldetails div{
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.personaldetails div div i{
  font-size: 22px;
  padding-right: 10px;
  color: aqua;
}

.skill div div{
  flex-wrap: wrap;
}
.skill h4{
  margin-right: 5px;
  padding-top: 7px;
}
.skill img{
  border-radius: 22px;
  transition: transform 0.2s;
  width: 33px;
  height: 33px;
  margin-left: 8px;
  /* margin-bottom: 5px; */
}
.skill img:hover{
  transform: scale(1.2);
}




.education >div {
display: flex;
padding: 10px 0px;
}
.education i{
  padding:0px 20px 0px 10px;
}
.educationheading i {
  /* padding:0px 20px 0px 10px; */
  font-size: 35px;
  
}
  .education div div{
    display: flex;
    padding-left: 29px;
   flex-direction: column;
   max-width: 40vw;
    }

@media (max-width: 690px) {
  .backcontent {
    font-size: 4rem;
  }
  .content{
    padding-top: 30px;
  }
  .description {
    flex-direction: column;
  }
  .description * {
    text-align: left;
  }
  .description_details {
    width: 98%;
    padding-right: 0rem;
  }
  .heading1 {
    font-size: 2rem;
    padding: 15px 0px 20px 0px;
  }
  
    .personaldetails >div{
      flex-direction: column;
      justify-content: left;
    }
    .personaldetails >div div{
      /* flex-direction: column; */
      justify-content: left;
    }
    .skill div div{
      flex-wrap: wrap;
    }
    .skill img{
      width: 25px;
     height: 25px;
     margin-bottom: 8px;
    }
   .education{
    margin-top: 20px;
   }
   .education div div{
    max-width: 80vw;
   }
}






.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-59 >i{
  color: #000 ;
  padding-left: 5px;
}
.button-59:focus ,.button-59 i{
  color: #171e29;
}

.button-59:hover,.button-59 i {
  border-color: aqua;
  color: rgb(0, 0, 0);
  fill: #06f;
}

.button-59:active,.button-59 i {
  border-color: aqua;
  color: rgb(0, 0, 0);
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
@media (min-width: 500px) {
  .button-59 {
    min-width: 100px;
    padding: 0px 10px;
  }
}

