

.skillmain {
  display: flex;
  margin-bottom: 30px;

  justify-content: space-around;
}
.skillmain > div {
  display: flex;
  padding: 20px 0px;
  margin: auto;
  border-radius: 5px;
  width: 350px;
  transition: 0.35s;
  background:linear-gradient(rgb(39, 63, 85),rgb(20, 20, 20) 70%);
  background-color: rgb(238, 251, 2);
  box-shadow: 1px 1px 5px rgb(2, 246, 169);
}
.skillmain >div:hover {
  box-shadow: 1px 1px 8px rgb(10, 73, 210);
  /* box-shadow: none; */
  
}
.skillmain > div i {
  margin: 0px 20px;
}
.skillmain_content_head {
  text-align: left;
  margin-top: 5px;
  font-size: 25px;
  color: aqua;
}
.skillmain p {
  color: rgb(253, 253, 253);
  text-align: left;
  font-size: medium;
}
.skillmain h6 {
  background-color: #203332;
  text-align: left;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}

.knowledgelogo {
  display: flex;
  margin: 0rem 6rem;
}
.knowledgelogo h5 {
  padding-bottom: 30px;
  font-weight: 400;
}

.knowledgelogo > div {
  width: 100%;
  margin: 5px 20px;
}

.logoandprogress {
  display: flex;
  flex-direction: row;
}

.forimg {
  width: 75px;
}
.knowledgelogo > div div img:hover {
  transform: scale(1.2);
}
.knowledgelogo > div > div img {
  border-radius: 22px;
  transition: transform 0.2s;
  width: 35px;
  height: 35px;
}
.knowledgelogo > div > div p {
  font-size: medium;
}
@media (max-width: 565px) {
  #idskillmain {
    display: flex;
    margin-bottom: 0rem;
    text-align: center;
    flex-direction: column;
  }
  #idskillmain > div {
    margin-bottom: 2rem;
    margin-top: 10px;
  }
  .skillmain > div {
    margin: auto;
    width: 90vw;
  }

  .knowledgelogo {
    margin-left: 1rem;
    width: 90%;
    flex-direction: column;
  }
  .knowledgelogo > div {
    margin: 0px;
  }
  .laptopicon {
    font-size: 2rem;
  }
}
